{% extends 'base.html' %} {% block content %} {% load static %}
<section id='title'>
    <a href="/">
        <img class="whit" src="/static/img/logo.png" alt="twitter logo">
    </a>
    <h1>Edit</h1>
</section>
<section class="content">
    <section class="post_form">
    <form action="/edit/{{posts.id}}/" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <input class="name-input" type="text" name="name" placeholder="Name" value="{{posts.name}}" required />
        <textarea name="body" placeholder="What's Happening?" required>{{posts.body}}</textarea>
        <label for={{posts.name}}></label>
            <input type="file" name="image">
        {% if posts.image %}
        <img class="post-border" src="{{ posts.image.url }}">
        {% endif %}
    <div class="update-edit-buttons">
        <a class="cancel-anchor" href="/">
            <input class="cancel-button" type='button' id='delete' value="Cancel">
        </a>
        <input id="update-button" type='submit' value="Update">
    </div>
    </form>
</section>
</section>
{% endblock%}